root = true

[build-cold-image.lisp]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[run-file-server.lisp]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Lambda64/**/*.lisp]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Lambda64/**/*.lsp]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Lambda64/**/*.asd]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[Lambda64/**/*.sh]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[scripts/**/*.sh]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
